<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
<h1>Welcome to Nodejs Backend Course</h1>
<div class="head">
<a href="/">Home</a>
<a href="/register">Regisration</a>
<a href="/login">Login</a>
</div>

</header>