<!DOCTYPE html>
<html lang="en">
<head>
     <title>Login</title>
     {{> header}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container h-100">
        <h1 class="text-center">Employee Registration Form</h1>
        <br><br>
        <div class="indexes">
         <a href="/register">Regisration</a>
         <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>